<div class="feature">
    <div class="grid grid--1x2">
        <div class="feature__image-container">
            <img class="feature__image" src="Images/laptop.jpg" alt="A laptop on a table">

        </div>
       
    <div class="feature__content">
        <h3 class="feature__header">Designed for Startups and brands</h3>
        <p class="feature__tagline">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, praesentium! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem suscipit sapiente distinctio ab, voluptatem voluptatum.</p>
        <ul class="feature__list">
            <li class="feature__list-item">Easy to grow</li>
            <li class="feature__list-item">Instant Access</li>
            <li class="feature__list-item">Free Guidelines</li>
        </ul>
        <button class="btn btn--primary">Learn More</button>
    </div>
    </div>
</div>